.homeBox:hover, #removeAll:hover, .button:hover {
    background-color: #5f939a;
    color: #e6e6e6;
}

.grid-container{
  display: grid;
    color: #1e6f5c;
    margin: 20px;
    padding: 20px;
    display: grid;
    width: auto;
    grid-gap: 10px;
}

span{
    color: red;
}

#align{
    display: flex;
    flex-direction: column;
    width: auto;
    justify-self: center;
}


form{
    align-self: auto;
}

.main-container{
    display: grid;
    grid-template-rows: 1fr, 1fr;
}

body {
    background-color: #dbf6e9;
}

div#info form h1 {
    text-shadow: 2px 2px #9ede73;
}

div#info form h1, div#info form label, div#info h3, label {
    font-family: "roboto";
}

.grid-container > div, .grid-container-two > div {
    padding: 20px;
    font-size: 20px;
    background-color: #94b5c0;
    box-shadow: 8px 8px 20px #1a8fc5;
    width: 100%;
    max-width: 500px;
    justify-self: center;
    border-radius: 50px;
}

.button{
    background-color: #1e6f5c; /* Green */
    border: none;
    color: white;
    padding: 10px 12px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 2px 2px 5px darkolivegreen;
  }

  .button:hover{
    cursor: pointer;
    background-color: #5f939a;
  }

input[type=submit] {
background-color: #1e6f5c; /* Green */
  border: none;
  color: white;
  padding: 10px 12px;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 2px 2px 5px darkolivegreen;
}

input[type=text], input[type=password] { 
    padding: 12px;
    border: 1px solid black
}


#hover:hover{
    cursor: pointer;
    background-color: #5f939a;
}

#info{
 text-align: center;
}


