.homeBox:hover, #removeAll:hover, .button:hover {
    background-color: #5f939a;
    color: #e6e6e6;
}

.grid-container{
  display: grid;
    color: #1e6f5c;
    margin: 20px;
    padding: 20px;
    display: grid;
    width: auto;
    grid-gap: 10px;
}

.main-container{
    display: grid;
    grid-template-rows: 1fr, 1fr;
}


/*---- COLOURING ----*/
body {
    background-color: #dbf6e9;
}
div#info form h1 {
    text-shadow: 2px 2px #9ede73;
}

div#info form h1, div#info form label, div#info h3 {
    font-family: "roboto";
}

.grid-container > div, .grid-container-two > div {
    padding: 20px;
    font-size: 20px;
    background-color: #94b5c0;
    box-shadow: 8px 8px 20px #1a8fc5;
    width: 50%;
    justify-self: center;
    border-radius: 50px;
}

header {
    background-color: #1a1a2e;
}

#filterBox {
    background-color: #16213e;
    border-color: #0f3460;
}

#tableHeader th {
    position: sticky;
    top: 0;
    background-color: #1a1a2e;
}

.chart {
    background-color: #16213e;
}



/*--- SETTING OVERFLOW PROPERTIES AND SIZING OF INTERNALS ---*/

#companyList{
    text-align: left;
    list-style: none;
    height: 750px;
    overflow-y: scroll;
    width: 100%;
    padding: 0;
}

#charts {
    overflow-y: scroll;
}

#info{
 text-align: center;
}

#companyList>li:hover {
    cursor: pointer;
}

#stockData {
    height: 660px;
    overflow-y: scroll;
}

#stockTable {
    width: 100%;
}

#tableHeader {
    cursor: pointer;
}

#calculations table { 
    width: 100%;
}

#infoInternal>img {
    height: 70px;
    max-width: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

#financeTable {
    width: 100%;
    height: 100%;
}

/*--- TEXT SIZING AND POSITION STUFF ---*/

div > #infoInternal{
  font-size: 16px;
}

th {
    text-align: right;
}

td {
    font-size: 14px;
    text-align: right;
}

.financeRows td {
    font-size: 20px;
}

.financeDescriptor {
    text-align: left;
}

#financeYearHeader {
    text-align: left;
}

#financeTable {
    height: 75%;
}

#stock>h2 {
    width: 50%;
    float: left;
}

#stock button {
    margin-top: 20px;
    float: right;
}

#stockData {
    margin-top: 100px;
    padding-right: 5px;
}

#filterBox {
    float: left;
}



