/* All navbar CSS */
.topnav {
    margin: 20px 20px;
    overflow: hidden;
    background-color: #94b5c0;
    position: relative;
    border-radius: 10px;
}

#navlinks{
    font-family: "roboto";
}

.topnav a, .topnav .logo {
    float: left;
    color: #1e6f5c;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon{
    display: none;
    background-color: #1e6f5c;
    color: #e6e6e6;
    border-radius: 7.5px;
}

.topnav a:hover{
    background-color: #5f939a;
    color: white;
}

.topnav .active{
    background-color: #1e6f5c;
    color: white;
}

.logo {
    vertical-align: middle;
    height: 20px;
}

@media screen and (max-width: 500px){
    /*    styling for hamburger nav based off of https://www.w3schools.com/howto/howto_js_topnav_responsive.asp */
    .topnav a, .topnav .logo {
        float: none;
    }
    .topnav a.icon{
        float: none;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .hidden{
        display: none !important;
    }
}