body {
    background-color: #dbf6e9;
}

.homeBox:hover, #removeAll:hover, .button:hover {
    background-color: #5f939a;
    color: #e6e6e6;
}

/*---- CREDIT TO CSSWAND CSSWAND.DEV -------*/

.button{
    background-color: #4a7edd; /* Green */
    border: none;
    color: white;
    padding: 10px 12px;
    text-align: center;
    border-radius: 2px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*-------- LOADING ELEMENTS FROM CSSWAND.DEV-----------*/


.loader {
  margin: 300px;
  height: 50px;
  width: 50px;
  background: rgba(0, 0, 0, .4);
  border-radius: 50%;
  border-top: 2px solid #1D9AF2;
  border-right: 2px solid transparent;
  border-bottom:none;
  border-left:none;
  animation: spinner5 700ms linear infinite;
}

#companyLoader {
    margin-left: 90px;
}

@keyframes spinner5 {
    to {
      transform: rotate(360deg);
    }
}


/*----GRID DEFINITION------*/

.grid-container{
  display: grid;
    color: #1e6f5c;
    margin: 20px;
    padding: 20px;
    display: grid;
    width: auto;
    grid-gap: 20px;
}


/*---- COLOURING ----*/
body {
    background-color: #dbf6e9;
}

.grid-container > div, .grid-container-two > div {
    padding: 20px;
    font-size: 20px;
    background-color: #94b5c0;
    box-shadow: 8px 8px 20px #1a8fc5;
    border-radius: 50px;
}

header {
    background-color: #1a1a2e;
}

#filterBox {
    background-color: #16213e;
    border-color: #0f3460;
}

#tableHeader th {
    position: sticky;
    top: 0;
    background-color: #1a1a2e;
}

.chart {
    background-color: #16213e;
}



/*--- SETTING OVERFLOW PROPERTIES AND SIZING OF INTERNALS ---*/

#companyList{
    text-align: left;
    list-style: none;
    height: 750px;
    overflow-y: scroll;
    width: 100%;
    padding: 0;
}

#charts {
    overflow-y: scroll;
}

#info{
 text-align: center;
}

#companyList>li:hover {
    cursor: pointer;
}

#stockData {
    height: 660px;
    overflow-y: scroll;
}

#stockTable {
    width: 100%;
}

#tableHeader {
    cursor: pointer;
}

#calculations table { 
    width: 100%;
}

#infoInternal>img {
    height: 70px;
    max-width: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

