body {
    background-color: #dbf6e9;
}

.homeBox:hover, #removeAll:hover, .button:hover {
    background-color: #5f939a;
    color: #e6e6e6;
}

.button, #removeAll {
    background-color: #1e6f5c; /* Green */
    border: none;
    color: white;
    padding: 10px 12px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 2px 2px 5px darkolivegreen;
  }
  .button:hover{
    cursor: pointer;
    background-color: #5f939a;
  }

.grid-container{
  display: grid;
    color: #1e6f5c;
    margin: 20px;
    padding: 20px;
    display: grid;
    width: auto;
    grid-gap: 20px;
}


.grid-container > div, .grid-container-two > div {
    padding: 20px;
    font-size: 20px;
    background-color: #94b5c0;
    box-shadow: 8px 8px 20px #1a8fc5;
    border-radius: 50px;
}

#info{
 text-align: center;
}
