body {
    background-color: #dbf6e9;
    font-family: Open Sans, sans-serif;
    font-size: 1rem;
}

a tr{
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 2;
}

.image {
    max-height: 80px;
    width: 65px;
}

.box {
    color: #1e6f5c;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
    background-color: #94b5c0;
    display: block;
    height: 100%;
    grid-column: 2 / span 1;
}

#totalPort {
    grid-column: 1 / span 4;
    font-size: 1.2rem;
    margin-top: 10px;
    z-index: 5;
}

h2 {
    font-size: 0.9rem;
    text-decoration: underline;
}

.b {
    width: 375px;
}

#stockView {
    height: 700px;
    overflow-y: scroll;
}

table, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
}

th, td {
    padding-left: 65px;
    padding-right: 65px;
    text-align: left;
}  

td {
    font-size: 1rem;
}

tr:nth-child(even) {
    background-color: #94b5c0;
}

tr:nth-child(odd) {
   background-color: #dbf6e9;
}

th {
    background: #dbf6e9;
    position: sticky;
    top: 0;
    z-index: 3;
}

.sticky {
    position: sticky;
    left: 0;
    background-color: #dbf6e9;
    z-index: 2;
}

#portHeader {
    font-family: "roboto";
    grid-column: span 2;
    text-align: center;
    background-color: #94b5c0;
    border-radius: 5px;
    padding: 20px;
    text-shadow: 2px 2px #9ede73;
    font-weight: bold;    
}

/*Custom scroll bar*/
div#stockView::-webkit-scrollbar {
    width: 10px;
    margin-right: 10px;
}

div#stockView::-webkit-scrollbar-track {
    background: #fff;
}

div#stockView::-webkit-scrollbar-thumb {
  background: #7a7a7a;
}

div#stockView::-webkit-scrollbar-thumb:hover {
  background: #3d3d3d;
}

@media screen and (max-width:1250px) {
    body {
        font-size: 0.8rem;
    }

    .container {
        grid-template-columns: 1;
        grid-template-rows: 2;
        
    }

    .box {
        color:black;
        border-radius: 5px;
        padding: 10px;
        font-size: 150%;
        background-color: #94b5c0;
        height: 700px;
        width: 100%;
        display: block;
        overflow: hidden;
        grid-row: 2;
        grid-column: 2;
    }

    td {
        font-size: 0.9rem;
    }
    th, td {
        padding: 15px;
        text-align: left;
    }  
    .image {
        width: 40px;
    }
    #stockView {
        height: 500px;
    }

    td {
        color: black;
    }
}