body {
    background-color: #dbf6e9;
    font-family: Open Sans, sans-serif;
    font-size: 0.8rem;
}

a tr{
    cursor: pointer;
}

.container {
    grid-template-columns: 1;
    grid-template-rows: 2;
}

.image {
    width: 40px;
}

.box {
    color:black;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
    background-color: #94b5c0;
    height: 650px;
    display: block;
    overflow: hidden;
    grid-row: 2;
    grid-column: 2;
}

#totalPort {
    grid-column: 1 / span 4;
    font-size: 1.2rem;
    margin-top: 50px;
}

h2 {
    font-size: 0.9rem;
    text-decoration: underline;
}

.b {
    width: 375px;
}

#stockView {
    height: 500px;
    overflow-y: scroll;
}

table, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}  

td {
    font-size: 0.9rem;
}

tr:nth-child(even) {
    background-color: #94b5c0;
}

tr:nth-child(odd) {
   background-color: #dbf6e9;
}

th {
    background: #dbf6e9;
    position: sticky;
    top: 0;
    z-index: 3;
}

.sticky {
    position: sticky;
    left: 0;
    background-color: #dbf6e9;
    z-index: 5;
}

#portHeader {
    font-family: "roboto";
    grid-column: span 2;
    text-align: center;
    background-color: #94b5c0;
    border-radius: 5px;
    padding: 20px;
    text-shadow: 2px 2px #9ede73;
    font-weight: bold;    
}

@media screen and (min-width:500px) {

    body {
        font-size: 1rem;
    }

    .container {
        display: grid;
        grid-template-columns: 0.5fr 2fr 0.5fr;
        grid-template-rows: 2;
        
    }

    .box {
    color: #1e6f5c;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
    background-color: #94b5c0;
    display: block;
    height: 100%;
    }

    td {
        font-size: 1rem;
    }
    th, td {
        padding-left: 65px;
        padding-right: 65px;
        text-align: left;
    }  
    .image {
        max-height: 80px;
        width: 65px;
    }
    #stockView {
        height: 700px;
    }

    td {
        color: black;
    }

    .logo {
        vertical-align: middle;
        height: 20px;
    }
}