@media screen and (max-width: 500px){
/*    styling for hamburger nav based off of https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */
    .topnav {
        overflow: hidden;
        background-color: #471d63;
        position: relative;
    }
    .hidden{
        display: none !important;
    }
    .topnav a, .topnav .logo {
        color: darkgray;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    .topnav a.icon{
        background: #29123b;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav a:hover{
        background-color: #5c0099;
        color: #e6e6e6;
    }
    .topnav .active{
        background-color: #29123b;
        color: white;
    }
    /* #5c0099  */
}